<div class="container mt-5"></div>
<div class="row mt-5 text-center">
<h1>สถานที่ท่องเที่ยวภูเก็ต</h1>
<div class="card" style="width: 100%">
    <img src="assets/images/007.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">แหลมพรหมเทพ  </h5>
      <p class="card-text">ที่เที่ยวภูเก็ตยอดฮิตที่ต้องมาปักหมุดเช็กอินจะเป็นที่ไหนไม่ได้นอกจากแหลมพรหมเทพ จุดชมวิวและสถานที่ชมพระอาทิตย์ตกดินสุดขึ้นชื่อที่กลายมาเป็นแลนด์มาร์กสำคัญของนักท่องเที่ยวทั้งหลาย<br>
         โดยผู้คนมักเดินทางมารอชมพระอาทิตย์ที่กำลังลาลับขอบฟ้าไปในช่วงเย็นของวัน พร้อมทั้งชมความงดงามของแหลมที่มีลักษณะยื่นออกไปกลางทะเล รายล้อมด้วยต้นตาลที่ขึ้นเรียงรายไปมา<br> 
         และน้ำทะเลสีเขียวมรกตที่ซัดกระทบเข้ากับก้อนหินจนเกิดเป็นฟองสีขาว ทำให้เกิดเป็นภาพที่งดงามจนสร้างความประทับใจให้ใครหลายคน</p>
    </div>
    <div class="card" style="width: 100%">
      <img src="assets/images/008.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">หาดสุรินทร์</h5>
        <p class="card-text">เอาใจนักท่องเที่ยวสายธรรมชาติที่รักการท่องเที่ยวทะเลด้วยการพาไปเช็กอินที่หาดสุรินทร์ หนึ่งในชายหาดของภูเก็ตที่งดงามไปด้วยเม็ดทรายสีขาวละเอียดเนียน ตัดกับน้ำทะเลสีฟ้าคราม<br>
           และต้นมะพร้าวที่ขึ้นเรียงรายเป็นแนวยาว โดยกิจกรรมยอดฮิตที่พลาดไม่ได้เลยเมื่อมาเยือนสถานที่แห่งนี้ คือ การเล่นกระดานโต้คลื่น และชมพระอาทิตย์ตกดินในยามเย็นที่ส่องแสงเป็นสีทองอร่ามอย่างงดงาม<br>
           พร้อมทั้งการเล่นน้ำชิล ๆ คลายร้อน ตลอดไปจนถึงการใช้เป็นสถานที่พักผ่อนเพื่อเติมพลังให้ตนเองด้วยการใกล้ชิดธรรมชาติที่สมบูรณ์แบบ เป็นที่เที่ยวภูเก็ตที่ไม่ควรพลาด</p>
      </div>
      <div class="card" style="width: 100%">
        <img src="assets/images/009.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">จุดชมวิว ผาหินดํา</h5>
          <p class="card-text">เดินทางไปชมวิวกันที่จุดชมวิวผาหินดำ พิกัดที่เที่ยวภูเก็ตที่คุณสามารถมองเห็นทัศนียภาพอันงดงามของภูเก็ตได้แบบ<br>
             360 องศา โดยไฮไลต์ของการมาเยือนสถานที่แห่งนี้นอกจากจะได้มาสัมผัสความสวยงามของทิวทัศน์ได้แบบเต็มเปี่ยมแล้ว คุณยังสามารถมองเห็นอ่าวฉลอง<br>
              เกาะเฮ เกาะโหลน แหลมพรหมเทพ หาดยะนุ้ย จุดชมวิวกังหันลม หาดในหาน และเกาะแก้วพิสดารได้ในคราวเดียวกัน เรียกได้ว่าไปที่เดียวแต่เก็บครบได้ทุกวิวเลยทีเดียว</p>
        </div>
      </div>
    </div>
  </div>
