<div class="container mt - 5">
    <h1 class="text-center">รายชื่อสมาชิกในกลุ่ม</h1>
    <div class="row mt-5 text-center">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/teams/0001.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">นาย ไกรวิชญ์ งามระเบียบ</h5>
                  <p class="card-text">ปวส.1/4</p>
                  <a href="#" class="btn btn-primary">หมอก</a>
                </div>
              </div>
            </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/teams/0002.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">นาย วันเลิศ สุขล้วน</h5>
              <p class="card-text">ปวส.1/4</p>
              <a href="#" class="btn btn-primary">วันเลิศ</a>
            </div>
          </div>
        </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/teams/0003.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">นาย ศุภโชค ฉวีวรณ์</h5>
                  <p class="card-text">ปวส1/4</p>
                  <a href="#" class="btn btn-primary">ออม</a>
                </div>
              </div>
            </div>
    </div>
  </div>