<div class="container mt-5 text-center">
  <div class="card" style="width: 70rem;">
    <img src="assets/images/02.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">จังหวัดภูเก็ต</h5>
      <p class="card-text">ภูเก็ต เป็นจังหวัดหนึ่งทางภาคใต้ของประเทศไทย และเป็นเกาะที่มีขนาดใหญ่ที่สุดในประเทศไทย อยู่บนทะเลอันดามัน มีจังหวัดที่ใกล้เคียงทางทิศเหนือและทิศตะวันออก
  
        จังหวัดภูเก็ต
        
        "ภูเก็ต" ในภาษาไทย (บน)
        ชื่อภาษาไทย
        อักษรไทยภูเก็ตฃ
        
        เดิมคำว่าภูเก็ตนั้นสะกดว่า ภูเก็จ ซึ่งแปลได้ว่า เมืองแก้ว จึงใช้ตราเป็นรูปภูเขา (ภู) มีประกายแก้ว (เก็จ) เปล่งออกเป็นรัศมี (ดูตราที่ผ้าผูกคอลูกเสือ) ตรงกับความหมายเดิมซึ่งชาวทมิฬเรียก มณิครัม ตามหลักฐาน พ.ศ. 1568 
        
        ภูเก็ตเป็นที่รู้จักของนักเดินเรือที่ใช้เส้นทางระหว่างจีนกับอินเดีย โดยผ่านแหลมมลายู หลักฐานที่เก่าแก่ที่สุดก็คือ หนังสือภูมิศาสตร์และแผนที่เดินเรือของคลอดิอุส ปโตเลมี เมื่อประมาณ พ.ศ. 700
        
        กล่าวถึงการเดินทางจากแหลมสุวรรณภูมิลงมาจนถึงแหลมมลายู ซึ่งต้องผ่านแหลม จังซีลอน หรือเกาะภูเก็ต (เกาะถลาง) นี้เอง[ต้องการอ้างอิง]

จากประวัติศาสตร์ไทย ภูเก็ตเป็นส่วนหนึ่งของอาณาจักรตามพรลิงก์ อาณาจักรศรีวิชัย สืบต่อมาจนถึงสมัยอาณาจักรนครศรีธรรมราชเรียกเกาะภูเก็ตว่า เมืองตะกั่วถลาง เป็นเมืองที่ 11 ใน 12 เมืองนักษัตร 

โดยใช้ตราเป็นรูปสุนัข จนถึงสมัยสุโขทัย เมืองถลางไปขึ้นกับเมืองตะกั่วป่า ในสมัยอยุธยา ชาวฮอลันดา ชาวโปรตุเกส และชาวฝรั่งเศส ได้สร้างสถานที่เก็บสินค้าเพื่อรับซื้อแร่ดีบุกจากเมืองภูเก็ต (ถลาง)

ในรัชสมัยของพระบาทสมเด็จพระพุทธยอดฟ้าจุฬาโลก ได้เกิดสงครามเก้าทัพขึ้น พระเจ้าปดุง กษัตริย์ของประเทศพม่าในสมัยนั้น ได้ให้แม่ทัพยกทัพมาตีหัวเมืองปักษ์ใต้ เช่น ไชยา นครศรีธรรมราช 

และให้ยี่หวุ่นนำกำลังทัพเรือพล 3,000 คนเข้าตีเมืองตะกั่วป่า เมืองตะกั่วทุ่ง และเมืองถลาง ซึ่งขณะนั้นเจ้าเมืองถลาง (พญาพิมลอัยาขัน) เพิ่งถึงแก่อนิจกรรม ท่านผู้หญิงจัน ภรรยา และคุณมุก น้องสาว

จึงรวบรวมกำลังต่อสู้กับพม่าจนชนะเมื่อวันที่ 13 มีนาคม พ.ศ. 2328 พระบาทสมเด็จพระพุทธยอดฟ้าจุฬาโลกมหาราชจึงทรงพระกรุณาโปรดเกล้าฯ ให้ท่านผู้หญิงจันเป็น ท้าวเทพกระษัตรี และคุณมุกเป็นท้าวศรีสุนทร

ในรัชสมัยพระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัว ได้รวบรวมหัวเมืองชายทะเลตะวันตกตั้งเป็น มณฑลภูเก็ต และเมื่อปี พ.ศ. 2476 ได้ยกเลิกระบบมณฑลเทศาภิบาล เปลี่ยนมาเป็นจังหวัดภูเก็ต